POSTGRES_DB=dbname
POSTGRES_USER=user
POSTGRES_PASSWORD=password

DATABASE_URL=postgresql+asyncpg://user:password@db:5432/dbname
ALEMBIC_DATABASE_URL=postgresql+psycopg2://user:password@db:5432/dbname
REDIS_PASSWORD=yourpassword
REDIS_URL=redis://:yourpassword@redis:6379
SECRET_KEY=secret-key
