POSTGRES_DB=keyforge_api
POSTGRES_USER=user
POSTGRES_PASSWORD=password

DATABASE_URL=postgresql+asyncpg://user:password@keyforge-api-postgres:5432/dbname
ALEMBIC_DATABASE_URL=postgresql+psycopg2://user:password@keyforge-api-postgres:5432/dbname

REDIS_URL=redis://keyforge-api-redis:6379
REDIS_PASSWORD=password

SECRET_KEY=secret-key
